@model TaskManager.Models.Todo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit - @Model.Description</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.Id)
        <div>
        <span>Id :</span>
        <span>@Model.Id</span>

    </div>
    <div>
        <span>Description :</span>
        @Html.TextBoxFor(m => m.Description)
        <span>@Html.ValidationMessageFor(m => m.Description)</span>
    </div>
    <div>
        <span>Is Completed :</span>
        @Html.CheckBoxFor(m => m.IsCompleted)
    </div>
    <input type="submit" name="btnSubmit" value="Save" />
    }
</body>
</html>
